### Variables

Variable are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

In this notebook:

- Introduction to Variables
- Declaring and Assigning Variables
- Naming Conventions
- Understanding Variable Types
- Type Checking and Conversion
- Dynaminc Typing
- Practical Examples and Common Errors

In [1]:
a = 100

In [2]:
## Declaring And Assigning Variables

age=26
height=5.10
name="Priyansh"
is_student=True

## printing the variables

print("age: ", age)
print("height: ", height)
print("name: ", name)

age:  26
height:  5.1
name:  Priyansh

In [3]:
## Naming Convention
## Variable name should be descriptive
## They must start with a letter or an "_" and contains letter, numbers and underscores
## variables names are case sensitive

# valid variable names

first_name="Priyansh"
last_name="sultania"

In [7]:
## Invalid variable names
# 2age=30
# first-name="Priyansh"
# @name="Priyansh"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3417243438.py, line 4)

In [9]:
## Case Sensitivity

name="Priyansh"
Name="Sultania"

In [12]:
## Understanding Variable types
## Python is dynamically typed, types of a variable is determined at runtime
age=25
height=5.10
name="Priyansh"
is_student=True

print(type(name))
print(type(age))
age_str=str(age)
print(age_str)
age="twenty-five"
print(type(age))

<class 'str'>
<class 'int'>
25
<class 'str'>

In [13]:
## Type Conversion

age='25'
print(type(int(age)))

<class 'int'>

In [14]:
name='Priyansh'
int(name)

ValueError: invalid literal for int() with base 10: 'Priyansh'

In [15]:
height=5.10
type(height)

float

In [16]:
float(int(height))

5.0

In [19]:
## Dynamic Typing
## Python allows the type of a variable to change as the program executes
var=10
print(var, type(var))

var = "Hello"
print(var, type(var))

var=3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [24]:
## input

age=input("what is your age") # This is always of type str
print(age, type(age))

23 <class 'str'>

In [25]:
### Simple Calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum: ", sum)
print("Difference: ", difference)
print("Product: ", product)
print("Quotient: ", quotient)

Sum:  110.0
Difference:  90.0
Product:  1000.0
Quotient:  10.0